@import '../base/typography';


.home-usp {
    width: 100%;
    display: flex;
    margin-bottom:0;
}
.home-usp__text{
    width: 20%;
    font-family: 'Surt-Regular';
 
}
.home-usp__grid{
    width: 65%;
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    grid-template-rows: repeat(12, 10rem);

}

.home-usp__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.home-usp__img:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
}

.home-usp__img:nth-child(2){
    grid-column-start: 5;
    grid-column-end:6 ;
    grid-row-start:3 ;
    grid-row-end: 4;
}
.home-usp__img:nth-child(3){
    grid-column-start: 3;
    grid-column-end:5;
    grid-row-start: 4;
    grid-row-end: 6;
}
.home-usp__img:nth-child(4){
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 6 ;
    grid-row-end: 7;
}
.home-usp__img:nth-child(5){
    grid-column-start: 4;
    grid-column-end:5;
    grid-row-start: 7 ;
    grid-row-end: 8;
}

.home-usp__img:nth-child(6){
    grid-column-start: 2;
    grid-column-end:4;
    grid-row-start: 8 ;
    grid-row-end: 10;
}

.home-usp__img:nth-child(7){
    grid-column-start: 1;
    grid-column-end:2;
    grid-row-start: 10 ;
    grid-row-end: 11;
}
.home-usp__img:nth-child(8){
    grid-column-start: 2;
    grid-column-end:5;
    grid-row-start: 11 ;
    grid-row-end: 13;
}