.navbar{
    position: sticky;
    top: 0;
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    font-family: 'Surt-Regular';
}

.navbar__right{
    display: flex;
    
}